body {
  background-color: #f8f9fa;
}

.g1 {
  text-align: left;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: 560px;
  height: 44px;
  margin-top: 50%;
  font-size: 16px;
  color: (0, 0, 0, 0.87);
  font-family: sans-serif;
}

/* .f1 {
  width: 560px;
  margin: 0 auto;
} */

.g2 {
  margin-top: 30px;
  margin-left: 150px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.g2:hover {
  border: 1px solid #dfe1e5;
  font-family: arial, sans-serif;
  background-color: rgb(243, 242, 242);
  font-size: 14px;
  padding: 0 16px;
}

.g3 {
  margin-left: 10px;
}

.container {
  width: 560px;
  margin: 0 auto;
  background-color: #f8f9fa;
}

a:link {
  color: #232424;
  text-decoration: none;
}

a:visited {
  color: #292929;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: white;
  font-style: italic;
}

.l1 {
  text-align: right;
  padding-right: 25px;
}

/* .link {
  width: 00%; 
  margin-left: auto;
  margin-right: 0;
} */

nav a:link {
  /* background-color: orangered;
    margin: 20px;
    padding: 20px;
  
    display: block; */
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
}

nav {
  float: right;
}

img {
  height: 370px;
  /* width: 410px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ad1 {
  width: 560px;
  margin-top: 30px;
  background-color: #f8f9fa;
  margin-left: 20px;
}

.adb {
  float: right;
  background-color: #4d90fe;
  margin: 10px 0;
  border: 1px solid #4d90fe;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  line-height: 27px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
}

.adb:hover {
  background: #8ab4f8;
  border-color: #8ab4f8;
  color: #202124;
}

.pages {
  line-height: 2.4;
  font-size: 24px;
  font-family: sans-serif, Arial;
  font-style: normal;
}

/* .a2 {
  float: left;
  display: inline-block;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;
} */

input[type="text"] {
  width: 100%;
  text-align: left;
  background: #f3f4f7;
  border: 1px solid #5f6368;
  color: #bdc1c6;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}
